.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
}

.main {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto;
}

.title {
  font-size: 5vh;
  color: #000;
}

.bodyText {
  font-size: 2.5vh;
  color: #000;
}

.buttonContainer {
  background-color: red;
}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.icon {
  height: 40px;
  width: 40px;
  color: #000;
  padding-right: 20px;
}

.span {
  color: #000;
}

// Animation
@keyframes fly {
  100% {
    transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes fly-plus {
  100% {
    transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

.wrapper {
  width: 700px;
  height: 700px;
  background: #fff;
  position: absolute;
  overflow: hidden;
  border-radius: 40px;
  margin: 10% 0 0 30%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  background-color: #c7c8cc;
  left: -50px;
  top: -300px;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(80px) rotate(0);
}

.two {
  width: 300px;
  height: 500px;
  background-color: #e3e1d9;
  bottom: -30px;
  left: -80px;
}

.three {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  bottom: -80px;
  right: -100px;
  background-color: #f2efe5;
  animation: fly-plus 8s linear infinite;
  transform: rotate(0) translate(100px) rotate(0);
}
